/* CSS reset, dit niet aanpassen! */

html {
    box-sizing: border-box;
}

*,
*:before,
*:after {
    box-sizing: inherit;
}

body {
    margin: 0;
    padding: 0;
    min-height: 100vh;
}

img {
    max-width: 100%;
    height: auto;
}

/* Hieronder mag je eigen CSS code */
body {
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: 12vh 10vh 10vh 57.5vh auto;
    max-width: 100%;
    overflow-x: hidden;
    background-color: #CF4DCE;
}

#nav {
    grid-row: 1/2;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#titleofpage {
    grid-row: 2/3;
    text-align: center;
    border-top: 2px solid white;
    border-bottom: 2px solid white;
}

#subtitle {
    grid-row: 3/4;
    text-align: center;
    margin-left: 40px;
    margin-right: 40px;
    border: 2px solid white;
    border-top: none;
}

#logo {
    position: relative;
    top: 2px;
}

.homepage {
    position: relative;
    margin: 20px;
    margin-top: 30px;
    margin-bottom: 50px;
    border-radius: 40px;
    border: 3.5px solid black;
    box-shadow: 0px 0px 700px 0.5px #FF8B13
}

#homepagepicture1 {
    position: relative;
    margin-top: 70px;
}

#homepagepicture2 {
    position: relative;
    margin-top: 70px;
}

#homepagepicture3 {
    position: relative;
    margin-top: 70px;
}

.titles {
    position: relative;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    color: white;
}

.headers {
    position: relative;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    color: white;
    font-size: 1.3rem;
    text-align: center;
}

#titelstap1 {
    position: absolute;
    font-size: 1.4rem;
    padding-bottom: 0px;
    top: -12.5px;
    left: 45px;
}

#titelstap2 {
    position: absolute;
    font-size: 1.4rem;
    padding-bottom: 0px;
    top: -12.5px;
    left: 55px;
}

#titelstap3 {
    position: absolute;
    font-size: 1.15rem;
    padding-bottom: 0px;
    top: -6px;
    left: 42.5px;
}

#backarrowstap2 {
    position: absolute;
    left: 17.5px;
    top: 18px;
}

#backarrowstap3 {
    position: absolute;
    left: 12.5px;
    top: 18px;
}

.button {
    border: 2px solid black;
    background-color: white;
    color: black;
    box-shadow: 7.5px 7.5px 15px 2.5px black;
}

#buttonhomepage {
    position: absolute;
    font-size: 1.25rem;
    padding-bottom: 0px;
    top: 288px;
    right: 20px;
    border-radius: 40px;
    padding: 5px;
}

#button1van3 {
    position: absolute;
    font-size: 1.6rem;
    padding-bottom: 0px;
    top: 15px;
    right: 0px;
    border-radius: 48%;
    padding: 6px;
}

#button2van3 {
    position: absolute;
    font-size: 1.6rem;
    padding-bottom: 0px;
    top: 15px;
    right: 0px;
    border-radius: 48%;
    padding: 6px;
}

#button3van3 {
    position: absolute;
    font-size: 1.6rem;
    padding-bottom: 0px;
    top: 15px;
    right: 0px;
    border-radius: 48%;
    padding: 6px;
}

#camerabutton {
    position: absolute;
    font-size: 1.25rem;
    border-radius: 40px;
    left: 10px;
    top: 288px;
}

h1 {
    top: -5px;
    z-index: 1;
}

h2 {
    top: -4px;
    z-index: 1;
}

#checkicon {
    color: #43A047;
}

#toggle {
    display: none;
}

/**
  Hamburger
**/
.hamburger {
    position: absolute;
    top: 3.5em;
    right: 5%;
    margin-left: -2em;
    margin-right: 1.5em;
    margin-top: -37.5px;
    width: 2em;
    height: 45px;
    z-index: 5;
}

.hamburger div {
    position: relative;
    width: 3em;
    height: 7px;
    border-radius: 3px;
    background-color: white;
    margin-top: 8px;
    transition: all 0.3s ease-in-out;
}

/**
Nav Styles
**/
.nav {
    position: fixed;
    max-width: 100%;
    height: 100%;
    background-color: #F273E6;
    top: -100%;
    left: 0;
    right: 0;
    bottom: 0;
    overflow: hidden;
    transition: all 0.3s ease-in-out;
    transform: scale(0);
    z-index: 2;
}

.nav-wrapper {
    position: relative;
    overflow: hidden;
    overflow-y: auto;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    margin-top: 20px;
}

nav {
    text-align: center;
    margin-bottom: 90px;
}

nav a {
    position: relative;
    text-decoration: none;
    color: #ECECEC;
    font-size: 3.5em;
    display: inline-block;
    padding: 5px;
    margin-top: 5px;
    transition: color 0.2s ease-in-out;
    letter-spacing: 1px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

}

nav a:before {
    content: '';
    height: 0;
    position: absolute;
    width: 0.25em;
    background-color: #DEDEDE;
    left: -0.5em;
    transition: all 0.2s ease-in-out;
}

nav a:hover {
    color: black;
}

nav a:hover:before {
    height: 100%;
}

/**
Animations
**/
#toggle:checked+.hamburger .top-bun {
    transform: rotate(-45deg);
    margin-top: 25px;
}

#toggle:checked+.hamburger .bottom-bun {
    opacity: 0;
    transform: rotate(45deg);
}

#toggle:checked+.hamburger .meat {
    transform: rotate(45deg);
    margin-top: -7px;
}

#toggle:checked+.hamburger+.nav {
    top: 0;
    transform: scale(1);
}